doctype html
html(lang="en")
include head.pug 
body 
    nav 
        div.nav-wrapper.grey
            div.container
                a(href="/" class="brand-logo left") Fast Shop 
                ul.right 
                    li
                        a(href="/" class="btn grey lighten-1") Back
    br
    div.container
        h3.center-align #{message}
