doctype html
html(lang="en")
    include head.pug 
    body 
        nav 
            div.nav-wrapper.grey
                div.container
                    a(href="/main" class="brand-logo left") Fast Shop 
                    ul.right 
                        li
                            a(href="/main" class="clear-btn btn grey lighten-1") Back                
            
        br
        div.container
            h3.center-align 
                | Total Price: 
                span.total-price 0
            ul#item-list.collection
        
        footer 
            div.container
                ul.right 
                    li 
                        a(href=route class="proceed-btn btn grey lighten-1") #{message}
    script(src="../shop_item.js") 
    script(src="../shoppingcart.js") 
    script(src="../cart_service_client.js")
    script(src="../ui_basic_utils.js") 
    script(src="../ui_main_utils.js") 
    script(src="../checkout_cart.js")