doctype html
html(lang="en")
include head.pug 
body 
    nav 
        div.nav-wrapper.grey
            div.container
                a(href="/main" class="brand-logo left") Fast Shop 
                ul.right 
                    li
                        a(href="/main" class="btn grey lighten-1") Start App
    br
    div.container
        h3.center-align Welcome to the FASTSHOP. To run application press START APP.
      
    script(src="cart_service_client.js") 
    script(src="ui_basic_utils.js") 
    script(src="ui_main_utils.js")
    script(src="welcome_page.js")   